@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --dark-blue: hsl(240, 38%, 20%);
  --grayish-blue: hsl(240, 18%, 77%);
  --body-font-size: 32px;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: var(--body-font-size);
  font-family: "Inter", sans-serif;
}

.testimonials {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73%;
}

.testimonials__slide-One {
  display: flex;
  width: 100%;
}

.slide__left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  z-index: 701;
  margin-right: -3rem;
}
.slide__left--text {
  position: relative;
}

.slide__left--text p {
  color: var(--dark-blue);
  font-weight: 300;
  letter-spacing: 1px;
}
.slide__left--author p {
  font-size: 1.2rem;
  color: var(--grayish-blue);
  font-weight: 500;
  margin-top: 2rem;
}
.slide__left--author p span {
  color: var(--dark-blue);
  font-weight: 700;
}

.slide__right {
  display: flex;
  position: relative;
  width: 60%;
}

.slide__right--svg img {
  width: 700px;
  position: absolute;
  top: -12%;
  left: -14%;
}
.slide__right img {
  z-index: 600;
  border-radius: 5px;
}

#tanya-img, #john-img {
  -webkit-box-shadow: -1px 50px 20px 0px #00000062;
  box-shadow: 2px 30px 30px 0px #0000005b;
}


.displayNone {
  display: none;
}
.svg-wave,
.svg-quotes {
  width: 70%;
  z-index: 1;
}

.svg-wave {
  position: absolute;
  top: 85.5%;
  left: 0%;
}

.svg-quotes {
  position: absolute;
  left: 16%;
  top: -27%;
}

.testimonials__slide--btn {
  z-index: 889;
  width: 120px;
  position: absolute;
  top: 75%;
  left: 56%;
  background-color: #f1f0f0;
  border-radius: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonials__slide--btn div {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.testimonials__slide--btn button {
  background-color: none;
  border: none;
  cursor: pointer;
}

/*
=======================================
==>        Animations  
=========================================
*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


/************************
=       Fade Right
*************************/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);*/
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);*/
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/************************
=       Fade Left
*************************/
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);*/
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    /*-webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);*/
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


/*
=======================================
==>        END-Animations  
=======================================